/*Responsive Image Classes*/

/* More examples of Ratio percentages here: https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */


.ratio {
    position: relative;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}

.ratio > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ratio:before {
    display: block;
    content: " ";
    width: 100%;
}

.four-three:before {
    padding-top: 75%;
}

.four-one:before {
    padding-top: 25%;
}